.joinPage{
    background-color: black;
    width: 100vw;
    height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinContainer{
    

  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;


}
.joinContainer > img{
    width:10vmax ;
}
.joinContainer > h1{
color:white ;
font-size: 2.5vmax;
width: 25vmax;
border-bottom: 0.2vmax solid white;
font-family: 'roboto';
text-align: center;
padding:1vmax ;
}
#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    background-color: crimson;
    color: white;
    font-family: 'roboto';
    transition:all 0.3s ;
    cursor: pointer;


    
}
.joinbtn:hover{

    background-color: rgb(154, 14, 42);
}
